/* Import Montserrat from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* 
 * Scoped Theme Styles 
 * Usage: .urban-vogue-theme { ... }
 */

.urban-vogue-theme {
    --font-vogue: 'Montserrat', sans-serif;
    font-family: var(--font-vogue);
    font-weight: 400;
    /* Default weight as requested */
}